
  
<div class = "page"> 
  <div class = "header">
    <button type = "Button" class="headitem">Menu 1</button>
    <button type = "Button" class="headitem">Menu 2</button>
    <button type = "Button" class="headitem">Menu 3</button>
    <button type = "Button" class="headitem">Menu 4</button>
    <button type = "Button" class="headitem">Menu 5</button>
    <button type = "Button" class="headitem">Menu 6</button>
  </div>

  <img class = "largepic" src="https://bit.ly/2k5yaXa" alt="mountain pic">  

  <div class = "picbox">
    <img class = "boxpic" src="https://bit.ly/2m5hGPr" alt="Box Pic">
    <img class = "boxpic" src="https://bit.ly/2kCJL03" alt="Box Pic">
    <img class = "boxpic" src="https://bit.ly/2m5hGPr" alt="Box Pic">
  </div>

  <p class = "textbox">“We shall go on to the end, we shall fight in France, we shall fight on the seas and oceans, we shall fight with growing confidence and growing strength in the air, we shall defend our Island, whatever the cost may be, we shall fight on the beaches, we shall fight on the landing grounds, we shall fight in the fields and in the streets, we shall fight in the hills; we shall never surrender.” </p>
    
  <div class = "footer">
    <img src = "https://cdn.jsdelivr.net/gh/mattnharsh/angular-msqzkx@master/src/assets/mfg-logo-text.png" style="width:162px; height: 32px"  alt="Logo">


    
  </div>
</div>

 



