<body>
  
 
  <div class = "header">
    <button type = "Button" class="headitem">Menu 1</button>
    <button type = "Button" class="headitem">Menu 2</button>
    <button type = "Button" class="headitem">Menu 3</button>
    <button type = "Button" class="headitem">Menu 4</button>
    <button type = "Button" class="headitem">Menu 5</button>
    <button type = "Button" class="headitem">Menu 6</button>
  </div>
    
    
  <div class = "footer">
    <img src = "assets/mfg-logo-text.png" style="width:162px; height: 32px"  alt="Logo">
  </div>


 

</body>

